.schedules-index{
  text-align: center;
  font-size: 40px;
}

.schedule-table{
  text-align: center;
}

.detail-content{
  margin-left: auto;
  margin-right: auto;
}

.detail-title1 {
  width: 22%;
  background-color: #eee;
  border: 1px solid #dedede;
  font-size: 18px;
  text-align: center;
}

.detail-value1 {
  width: 22%;
  padding: 20px;
  border: 1px solid #dedede;
  font-size: 18px;
  text-align: center;
}